/* header{
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: start;
    gap: 20px;
}

header .logo{
    width: 250px;
    object-fit: contain;
    height: max-content;
}

header .date_data{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

header .date_data strong{
    font-size: 20px;
} */


header{
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}

header .logo{
    width: 40%;
    object-fit: contain;
    height: max-content;
}

header .date_data{
    width: 100%;
    text-align: center;   
}

@media(min-width: 1000px){
    header{
        width: 100vw;
        display: flex;
        align-items: center;
        padding: 40px;
        justify-content: start;
        gap: 20px;
    }
    
    header .logo{
        width: 250px;
        object-fit: contain;
        height: max-content;
    }
    
    header .date_data{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    
    header .date_data strong{
        font-size: 20px;
    }
}